@import url("https://rsms.me/inter/inter.css");

body {
  background-color: #555;
  margin: 0px;
  font-family: "Inter var", sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
